.table-report {
    td, th {
        &.action-column, &.action {
            white-space: nowrap;
            display: inherit;

            .btn {
                margin-left: 3px;
            }
        }

        &.min {
            width:1px;
            max-width:1px;
        }
    }
}

.card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.6em;
        margin: 0;
        padding: 0;
        line-height: normal;
    }
}

.card-footer {
    .pagination {
        margin: 0;
    }
}

#home {
    .small-box .icon>i {
        font-size: 65px;
    }
}