.table-report td.action-column, .table-report td.action, .table-report td .action-column, .table-report td .action, .table-report th.action-column, .table-report th.action, .table-report th .action-column, .table-report th .action {
  white-space: nowrap;
  display: inherit;
}
.table-report td.action-column .btn, .table-report td.action .btn, .table-report td .action-column .btn, .table-report td .action .btn, .table-report th.action-column .btn, .table-report th.action .btn, .table-report th .action-column .btn, .table-report th .action .btn {
  margin-left: 3px;
}
.table-report td.min, .table-report th.min {
  width: 1px;
  max-width: 1px;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.card-footer .pagination {
  margin: 0;
}

#home .small-box .icon > i {
  font-size: 65px;
}
